* {
  box-sizing: border-box;
}

body {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  font-family: serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.mainContainer {
  background-color: #fff;
  border-radius: 1rem;
  width: 30rem;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.mainContainer:hover {
  background-color: #fff;
  border-radius: 2rem;
  width: 30.5rem;
  box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin: 0 0 20px;
}

h2 {
  text-align: left;
  margin: 10px 0 10px 5px;
}
.form {
  padding: 30px 40px;
}

.box {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.box label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.box input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.box input:focus {
  outline: 0;
  border-color: #777;
}

.box.success :focus {
  border-color: #00ffff;
}

.box.error :focus {
  border-color: #a71717;
}

.box small {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.box.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  width: 100%;
  display: block;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  color: #f9fafb;
  font-weight: bold;
  border: 2px solid teal;
  border-radius: 10px;
  background-color: teal;
}
